{% set page_title = data.playerName %}
{% set page_description = 'Player stats' %}
{% set page_image = data.discordAvatar if data.discordAvatar else '/static/img/avatar.jpg' %}

{% extends "master_template.html" %}
{% set page_title = data.playerName %}
{% block title %}{{ data.playerName }}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

{% if data.discordAvatar %}

<section id="hero-header-section" class="section">
  <section id="hero-header" class="hero" id="hero">
    <div class="hero-head">
      <div class="hero-header-black-wrapper">
        <div class="hero-header-bg hero-header-bg-player" style="background-image: url({{ data.discordAvatar }}"></div>
      </div>
    </div>
    <div class="hero-body hero-body-player">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-narrow">
            <nav class="level">
              <div class="level-item has-text-centered">
                {% if data.discordAvatar %}
                <figure class="image is-128x128 avatar">
                  <img class="is-rounded" src="{{ data.discordAvatar }}">
                </figure>
                {% else %}
                <figure class="image is-128x128 avatar">
                  <img class="is-rounded" src="/static/img/avatar.jpg">
                </figure>
                {% endif %}
              </div>
              <div class="level-item">
                <div class="column">
                  <h1 class="title is-size-4-touch is-size-3-desktop {% if data.other_names|length > 1 %}tooltip is-tooltip-bottom is-tooltip-multiline{% endif %}"
                    data-tooltip="{{ ', '.join(data.other_names) }}">{{ data.playerName }}</h1>
                  {% if data.discordTag %}
                  <h2 class="has-text-grey-light"><span class="icon"><i class="fab fa-discord" aria-hidden="true"></i></span>{{
                    data.discordTag }}</h2>
                  {% endif %}
                  <h2 class="has-text-grey">
                    <a href="{{ data.steam_url }}" target="_blank">
                      <span class="icon"><i class="fab fa-steam" aria-hidden="true"></i></span>{{
                      data.steamId }}
                    </a>
                  </h2>
                </div>
              </div>
            </nav>
          </div>
          <div class="column">
            <nav class="level full-height">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Rounds Played</p>
                  <p class="title">{{ data.roundsPlayed }}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Hive Skill</p>
                  <p class="title">{{ data.hiveSkill }}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Marine Hive Skill</p>
                  <p class="title">{{ data.marineHiveSkill if data.marineHiveSkill else data.hiveSkill }}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Alien Hive Skill</p>
                  <p class="title">{{ data.alienHiveSkill if data.alienHiveSkill else data.hiveSkill }}</p>
                </div>
              </div>
            </nav>
          </div>
          {% if data.marineTime > 1 or data.alienTime > 1 or data.commanderTime > 1 %}
          <div class="column is-narrow">
            <div>
              <canvas id="playtime-chart" width="128" height="128"></canvas>
            </div>
          </div>
          {% endif %}
        </div>

        <hr class="has-background-grey-light" />
        <nav class=" level">
          {% if data.weapon_acc.Rifle %}
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Rifle Accuracy</p>
              <p class="title">{{ "{:.1f}".format(data.weapon_acc.Rifle * 100) }}%</p>
            </div>
          </div>
          {% endif %}
          {% if data.weapon_acc.Shotgun %}
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Shotgun Accuracy</p>
              <p class="title">{{ "{:.1f}".format(data.weapon_acc.Shotgun * 100) }}%</p>
            </div>
          </div>
          {% endif %}
          {% if data.kdr %}
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">KDR</p>
              <p class="title">{{ '{:.2f}'.format(data.kdr) }}</p>
            </div>
          </div>
          {% endif %}
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Lifeform</p>
              <p class="title">{{ data.lifeform }}</p>
            </div>
          </div>
          {% if data.team1_winrate %}
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Recent Marine Winrate</p>
              <p class="title">{{ data.team1_winrate[-1]['y'] }}%</p>
            </div>
          </div>
          {% endif %}
          {% if data.team2_winrate %}
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Recent Alien Winrate</p>
              <p class="title">{{ data.team2_winrate[-1]['y'] }}%</p>
            </div>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
  </section>
</section>

{% endif %}

<section class="section">
  <div class="container" id="main">
    {% if not data.discordAvatar %}
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <nav class="level">
          <div class="level-item has-text-centered">
            {% if data.discordAvatar %}
            <figure class="image is-128x128 avatar">
              <img class="is-rounded" src="{{ data.discordAvatar }}">
            </figure>
            {% else %}
            <figure class="image is-128x128 avatar">
              <img class="is-rounded" src="/static/img/avatar.jpg">
            </figure>
            {% endif %}
          </div>
          <div class="level-item">
            <div class="column">
              <h1 class="title is-size-4-touch is-size-3-desktop {% if data.other_names|length > 1 %}tooltip is-tooltip-bottom is-tooltip-multiline{% endif %}"
                data-tooltip="{{ ', '.join(data.other_names) }}">{{ data.playerName }}</h1>
              {% if data.discordTag %}
              <h2 class="has-text-grey-light"><span class="icon"><i class="fab fa-discord" aria-hidden="true"></i></span>{{
                data.discordTag }}</h2>
              {% endif %}
              <h2 class="has-text-grey">
                <a href="{{ data.steam_url }}" target="_blank">
                  <span class="icon"><i class="fab fa-steam" aria-hidden="true"></i></span>{{
                  data.steamId }}
                </a>
              </h2>
            </div>
          </div>
        </nav>
      </div>
      <div class="column">
        <nav class="level full-height">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Rounds Played</p>
              <p class="title">{{ data.roundsPlayed }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Hive Skill</p>
              <p class="title">{{ data.hiveSkill }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Marine Hive Skill</p>
              <p class="title">{{ data.marineHiveSkill if data.marineHiveSkill else data.hiveSkill }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Alien Hive Skill</p>
              <p class="title">{{ data.alienHiveSkill if data.alienHiveSkill else data.hiveSkill }}</p>
            </div>
          </div>
        </nav>
      </div>
      {% if data.marineTime > 1 or data.alienTime > 1 or data.commanderTime > 1 %}
      <div class="column is-narrow">
        <div>
          <canvas id="playtime-chart" width="128" height="128"></canvas>
        </div>
      </div>
      {% endif %}
    </div>
    <hr />
    <nav class="level">
      {% if data.weapon_acc.Rifle %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Rifle Accuracy</p>
          <p class="title">{{ "{:.1f}".format(data.weapon_acc.Rifle * 100) }}%</p>
        </div>
      </div>
      {% endif %}
      {% if data.weapon_acc.Shotgun %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Shotgun Accuracy</p>
          <p class="title">{{ "{:.1f}".format(data.weapon_acc.Shotgun * 100) }}%</p>
        </div>
      </div>
      {% endif %}
      {% if data.kdr %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">KDR</p>
          <p class="title">{{ '{:.2f}'.format(data.kdr) }}</p>
        </div>
      </div>
      {% endif %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Lifeform</p>
          <p class="title">{{ data.lifeform }}</p>
        </div>
      </div>
      {% if data.team1_winrate %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Recent Marine Winrate</p>
          <p class="title">{{ data.team1_winrate[-1]['y'] }}%</p>
        </div>
      </div>
      {% endif %}
      {% if data.team2_winrate %}
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Recent Alien Winrate</p>
          <p class="title">{{ data.team2_winrate[-1]['y'] }}%</p>
        </div>
      </div>
      {% endif %}
    </nav>
    <hr />
    {% endif %}

    {% if data.roundsPlayed > 1 %}
    <h2 class="title is-size-2">Charts</h2>

    <div class="columns">
      <div class="column is-10">
        {% if data.team1_winrate|length > 2 and data.team2_winrate|length > 2 %}
        <h3 class="title is-size-5">Winrate per team</h3>
        <h4 class="heading has-text-grey-light">Trailing 30 rounds</h4>
        <div>
          <canvas id="winrate-chart" width="100%" height="176"></canvas>
        </div>

        <hr />
        {% endif %}

        {% if data.activity | length > 2 %}
        <h3 class="title is-size-5">Activity</h3>
        <h4 class="heading has-text-grey-light">Per week</h4>
        <div>
          <canvas id="activity-chart" width="100%" height="176"></canvas>
        </div>
        {% endif %}
      </div>
      <div class="column">

        {% if data.classes.Rifle|float > 0 %}
        <h3 class="title is-size-5">Weapons</h3>
        <div>
          <canvas id="weapons-chart" width="100%" height="200"></canvas>
        </div>
        <hr />
        {% endif %}
        {% if data.classes.Skulk|float > 0 %}
        <h3 class="title is-size-5">Lifeforms</h3>
        <div>
          <canvas id="lifeforms-chart" width="100%" height="200"></canvas>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}
{% block include_js %}
<script>

  {% if data.roundsPlayed > 1 %}
  Chart.defaults.global.defaultFontColor = '#b5b5b5';

  {% if data.marineTime > 1 or data.alienTime > 1 or data.commanderTime > 1 %}
  var ctx = document.getElementById("playtime-chart").getContext('2d');
  var playtime = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["Marine hours", "Alien hours", "Comm hours"],
      datasets: [{
        label: '# of Votes',
        data: [{{ data.marineTime | round }}, {{ data.alienTime | round }}, {{ data.commanderTime | round }}],
  backgroundColor: [
    'rgba(30, 180, 255, 0.2)',
    'rgba(255, 102, 26, 0.2)',
    'rgba(153, 102, 255, 0.2)'
  ],
    borderColor: [
      'rgba(30, 180, 255, 0.7)',
      'rgba(255, 102, 26, 0.7)',
      'rgba(153, 102, 255, 0.7)'
    ],
      borderWidth: 2
          }]
        },
  options: {
    maintainAspectRatio: false,
      legend: {
      display: false
    }
  }
      });
  {% endif %}

  {% if data.team1_winrate | length > 2 and data.team2_winrate | length > 2 %}
  var ctx = document.getElementById("winrate-chart").getContext('2d');
  var winrate = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: 'Marine winrate',
        data: {{ data.team1_winrate | tojson | safe }},
    backgroundColor: 'rgba(30, 180, 255, 0.2)',
    borderColor: 'rgba(30, 180, 255, 0.7)',
    borderWidth: 2
  }, {
      label: 'Alien winrate',
      data: {{ data.team2_winrate | tojson | safe }},
  backgroundColor: 'rgba(255, 102, 26, 0.2)',
    borderColor: 'rgba(255, 102, 26, 0.7)',
      borderWidth: 2
          }]
        },
  options: {
    annotation: {
      annotations: [{
        type: 'line',
        mode: 'horizontal',
        scaleID: 'y-axis-0',
        value: 50,
        borderColor: 'rgba(255, 255, 255, 0.5)',
        borderWidth: 2
      }]
    },
    maintainAspectRatio: false,
      scales: {
      xAxes: [{
        type: 'time'
      }]
    },
    legend: {
      display: true
    }
  }
      });
  {% endif %}

  {% if data.activity | length > 2 %}
  var ctx = document.getElementById("activity-chart").getContext('2d');
  var activity = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: 'Hours played',
        data: {{ data.activity | tojson | safe }},
    backgroundColor: 'rgba(153, 102, 255, 0.2)',
    borderColor: 'rgba(153, 102, 255, 1)',
    borderWidth: 2
  },
    {
      label: 'Server hours',
      data: {{ data.server_activity | tojson | safe }},
  backgroundColor: 'rgba(51, 17, 117, 0.2)',
    borderColor: 'rgba(51, 17, 117, 1)',
      borderWidth: 2
    }]
        },
  options: {
    maintainAspectRatio: false,
      scales: {
      xAxes: [{
        type: 'time'
      }]
    },
    legend: {
      display: true
    }
  }
      });
  {% endif %}

  {% if data.classes.Rifle | float > 0 %}
  var ctx = document.getElementById("weapons-chart").getContext('2d');
  var classtime = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["Grenade launcher hours", "Flamethrower hours", "HMG hours", "Shotgun hours", "Rifle hours"],
      datasets: [{
        label: '# of Votes',
        data: {{ [data.classes.GrenadeLauncher, data.classes.Flamethrower, data.classes.HeavyMachineGun, data.classes.Shotgun, data.classes.Rifle] | safe }},
    backgroundColor: [
      'rgba(255, 26, 236, 0.2)',
      'rgba(255, 198, 26, 0.2)',
      'rgba(255, 26, 45, 0.2)',
      'rgba(121, 255, 26, 0.2)',
      'rgba(30, 180, 255, 0.2)',
    ],
    borderColor: [
      'rgba(255, 26, 236, 0.7)',
      'rgba(255, 198, 26, 0.7)',
      'rgba(218, 1, 30, 0.7)',
      'rgba(121, 255, 26, 0.7)',
      'rgba(30, 180, 255, 0.7)',
    ],
    borderWidth: 2
  }]
    },
  options: {
    maintainAspectRatio: false,
      legend: {
      display: false
    }
  }
      });
  {% endif %}

  {% if data.classes.Skulk | float > 0 %}
  var ctx = document.getElementById("lifeforms-chart").getContext('2d');
  var lifeforms = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["Gorge hours", "Onos hours", "Fade hours", "Lerk hours", "Skulk hours"],
      datasets: [{
        label: '# of Votes',
        data: {{ [data.classes.Gorge, data.classes.Onos, data.classes.Fade, data.classes.Lerk, data.classes.Skulk] | safe }},
    backgroundColor: [
      'rgba(121, 255, 26, 0.2)',
      'rgba(255, 26, 45, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 198, 26, 0.2)',
      'rgba(255, 102, 26, 0.2)',
    ],
    borderColor: [
      'rgba(121, 255, 26, 0.7)',
      'rgba(255, 26, 45, 0.7)',
      'rgba(153, 102, 255, 0.7)',
      'rgba(255, 198, 26, 0.7)',
      'rgba(255, 102, 26, 0.7)',
    ],
    borderWidth: 2
  }]
    },
  options: {
    maintainAspectRatio: false,
      legend: {
      display: false
    }
  }
      });
  {% endif %}

  {% endif %}

  $("#black").velocity("stop", true).velocity({
    opacity: "0.8",
  }, {
      duration: 3000,
      easing: "linear"
    });

</script>
{% endblock %}