{% set has_loading = True %}
{% set page_title = 'Stats' %}
{% extends "master_template.html" %}
{% block title %}Stats{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<section class="section">
  <section id="hero-graph" class="hero">
    <div class="hero-body">
      <svg width="100%" height="0" id="graph_chart" class="border-bottom"></svg>
    </div>
    <div class="hero-foot no-pointer">
      <div class="container">
        <h1 class="title">Stats</h1>
        <h2 class="title is-size-5">Kills between players of the last 10 matches.</h2>
      </div>
    </div>
  </section>
  <div class="container" id="stats-container">
    <div id="main">
      {% raw %}
      <div class="tabs is-toggle is-fullwidth is-large">
        <ul>
          <router-link to="/matches" tag="li">
            <a>
              <span class="icon"><i class="far fa-map"></i></span>
              <span>Matches</span>
            </a>
          </router-link>
          <router-link to="/players" tag="li">
            <a>
              <span class="icon"><i class="far fa-user-circle"></i></span>
              <span>Players</span>
            </a>
          </router-link>
        </ul>
      </div>
      <router-view></router-view>
      {% endraw %}
    </div>
  </div>
</section>
{% endblock %}
{% block include_js %}
<script src="/static/js/ext/d3.min.js"></script>
<script src="/static/js/graph_chart.js"></script>
<script src="/static/js/ext/vue.min.js"></script>
<script src="/static/js/ext/vue-router.min.js"></script>
<script src="/static/js/stats-vue.js"></script>
{% endblock %}