{% extends "master_template.html" %}
{% block title %}User Panel{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

{% if not current_user.token_used %}
<section id="hero-header-section" class="section">
  <section id="hero-header" class="hero" id="hero">
    <div class="hero-head">
      <div class="hero-header-bg hero-header-bg-user-link"></div>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-size-5">

            <h1 class="title">Link your SteamID</h1>
            <h2 class="subtitle">
              Current features include:
            </h2>
            <ul>
              <li>Add your avatar next to your name, instead of being a cone.</li>
              <li>Kick yourself from the server if your game crashed.</li>
            </ul>
          </div>
          <div class="column is-5">
            <div class="box has-background-grey has-text-white">
              <div>
                <h2 class="is-size-5">Connect to <span class="has-text-warning">NS2 Sudamerica 8v8</span> <br> and
                  enter
                  the following token in the <span class="is-bold has-text-weight-bold has-text-warning">chat</span>:</h2>
              </div>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-large has-background-grey-dark" value="{{ current_user.token }}" onClick="this.select();"
                  readonly>
                <span class="icon is-medium is-left">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <h3 class="is-size-7 has-text-centered">This page should reload automatically.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endif %}

<section class="section">
  <div class="container" id="main">
    <h1 class="title is-size-1">User Panel</h1>
    <div class="field">
      <input id="notifications-toggle" type="checkbox" name="notifications-toggle" class="switch">
      <label for="notifications-toggle">Push Notifications</label>
      <p class="notifications-desc is-size-7">This enables notifications only in your current browser or
        device.</p>
    </div>
    <hr>
  </div>
  <div class="container">
  </div>
</section>
{% endblock %}
{% block include_js %}
<script src="/static/js/notifications.js"></script>
<script src="/static/js/sw.js"></script>
<script>
  {% if not current_user.token_used %}
  var first_timestamp;
  function checkForUpdate() {
    setTimeout(function () {
      axios.get("/user/json/token_updated").then(function (r2) {
        if (r2.data.token_updated != first_timestamp) {
          window.location.reload()
        }
      });
      checkForUpdate();
    }, 1000);
  }
  axios.get("/user/json/token_updated").then(function (r) {
    first_timestamp = r.data.token_updated;
    checkForUpdate();
  });
  {% endif %}
  $("#black").velocity("stop", true).velocity({
    opacity: "0.8",
  }, {
      duration: 3000,
      easing: "linear"
    });
</script>
{% endblock %}